defaults:
  - _self_
  - task: ~ # TODO: task needs to contain name of folder inside dataset dir that includes the data for this task
  - approach: ~
  - experiment: ~
  - override hydra/launcher: joblib

run_identifier: ${generate_run_id:}
benchmark_output_dir: ~
dataset_name: ~
cache_dir: cache # if this is changed the setup script also needs to be changed

# for test purposes, you can limit the number of testcases to run
test_case_limit: null # int or null

hydra:
  mode: MULTIRUN
  searchpath:
    - approaches/configs
  job:
    chdir: True
    config:
      override_dirname:
        exclude_keys: []
  run:
    dir: results/${benchmark_output_dir}/${approach.approach_name}/${create_run_path:${hydra:job.override_dirname}}
  sweep:
    dir: results
    subdir: ${benchmark_output_dir}/${approach.approach_name}/${create_run_path:${hydra:job.override_dirname}}
  # required for better process isolation:
  launcher:
    n_jobs: 2
    prefer: processes # use processes instead of threads
    backend: multiprocessing # use multiprocessing backend instead of loky
  sweeper:
    max_batch_size: 1